.span-order-flavor-column-header {
	font-weight: 600;
	width: 200px !important;
}

.span-order-size-column-header {
	font-weight: 600;
	width: 100px !important;
}

.span-order-flavor-column {
	width: 200px !important;
}

.span-order-size-column {
	width: 100px !important;
}




