.span-order-flavor-column-header {
	font-weight: 600;
	width: 200px !important;
}

.span-order-size-column-header {
	font-weight: 600;
	width: 100px !important;
}

.span-order-flavor-column {
	width: 200px !important;
}

.span-order-size-column {
	width: 100px !important;
}

.order-summary-div {
	background:#FFF;
	flex: content;
	height: auto;
	padding-bottom:50px;
	margin-left:20px;
	margin-right:20px;
}

.stock-order-number-date-container {	
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:40px;
}

.owner-details-wrapper {
	padding-left:40px;
	padding-right:40px;
	padding-bottom:30px;
}

.order-summary-table {
	width: 100%;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    table-layout: fixed;
}

.order-summary-total {
	float: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    font-weight: 700;
    font-size: larger;
}

table {
    position: relative;
}

td,th {padding: .5em 1em;}

tr.even td { background-color: yellow; }
tr.odd td  { background-color: orange; }

thead th:first-child:before {
    content: "-";

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    padding: .75em 0;
}

thead th {
    padding-bottom: 2em;
}

.order-summary-button-container {
	padding-top: 20px;
    padding-bottom: 20px;
    width: -webkit-fill-available;
    margin-right:20px;
}

.order-summary-header-wrapper {
	width: -webkit-fill-available;
	height:50px;
	margin-left:20px;
	padding-right:20px;
}



.action-button-wrapper {
	margin-right: 20px;
    width: -webkit-fill-available;
}

.order-view-button {
	width: 150px;
	margin-left:20px;
}

.order-delivery-receipt-table {
	width: 100%;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    table-layout: fixed;
}

.order-item-name-column{
	width:200px;
}


.fillup-line:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.fillup-line:before {
  right: 0.5em;
  margin-left: -50%;
}

.fillup-line:after {
  left: 0.5em;
  margin-right: -50%;
}


.order-row-label, .owner-row-secondary-text{
	font-size: var(--lumo-font-size-xs);
	color: var(--lumo-secondary-text-color);
	width:100px;
}

a.order-row-value,  .order-row-value, .order-row-value-amount{
	font-size: var(--lumo-font-size-s);
    font-weight: 500;

}

.order-row-value-customer{
	font-size: var(--lumo-font-size-s);
    font-weight: 450;

}

.order-row-value-amount {
	color: var(--lumo-primary-color);
}





