.products-view ol {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products-view li {
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, box-shadow;
	background-color: #FFFFFF;
}

.products-view li:hover {
	background-color: var(--lumo-base-color);
	box-shadow: var(--lumo-box-shadow-s);
}

.rounded-top {
	border-top-left-radius: var(--lumo-border-radius-l);
	border-top-right-radius: var(--lumo-border-radius-l);
}

.product-view-grid-container {
	display: flex;
    align-items: center;
    box-sizing: border-box;
    align-content: stretch;
    justify-content: space-evenly;
}

.overflow-product-view-card {
	overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.product-view-image-attributes{
	min-width:100%;
	min-height:100%;
}

.add-product-name-wrapper{
	padding-top: 0px;
	width:100%;
    padding-right: 0px;
}

.sub-pricing-wrapper {
    border: #C4C4C4;
    border-style: solid;
    border-width:thin !important;
}

