.products-view ol {
	width: 100%;
    grid-template-columns: 300px repeat(auto-fill, 300px) 300px;
    justify-content: center;
}

.products-view li {
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, box-shadow;
	background-color: #FFFFFF;
}

.products-view li:hover {
	background-color: var(--lumo-base-color);
	box-shadow: var(--lumo-box-shadow-s);
}

.rounded-top {
	border-top-left-radius: var(--lumo-border-radius-l);
	border-top-right-radius: var(--lumo-border-radius-l);
}

.product-view-grid-container {
	display: flex;
    align-items: center;
    box-sizing: border-box;
    align-content: stretch;
    justify-content: space-evenly;
}

.overflow-product-view-card {
	overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.product-view-image-attributes {
	min-width:100%;
	min-height:100%;
	max-width: 100%;
    max-height: 100%;
    opacity:0.65
}

.add-product-name-wrapper{
	padding-top: 0px;
	width:100%;
    padding-right: 0px;
}

.sub-pricing-wrapper {
    border: #C4C4C4;
    border-style: solid;
    border-width:thin !important;
}

.product-card-image-link {
	width: 100%;
}

.product-picture{
	min-width:100%;
	min-height:100%;
	max-width: 100%;
    max-height: 100%;
    opacity:0.65
}

.trello {
    background-color: var(--lumo-tint-40pct);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--lumo-space-m);
    row-gap: var(--lumo-space-m);
    height: 100%;
}

.trello__column {
    height: 100%;
    background-color: var(--lumo-primary-color-10pct);
    border-radius: var(--lumo-space-xs);
    box-shadow: var(--lumo-box-shadow-s);
    margin:var(--lumo-space-m);
}


.trello__column__title {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
    border-radius: var(--lumo-space-xs) var(--lumo-space-xs) 0 0;
    padding: var(--lumo-space-s);
}

.trello__column--inprogress .trello__column__title {
    background-color: var(--lumo-secondary-text-color);
}

.trello__column--complete .trello__column__title {
    background-color: var(--lumo-success-color);
}

.trello__column__task {
    background-color: var(--lumo-primary-contrast-color);
    padding: var(--lumo-space-s);
    margin: var(--lumo-space-s);
    border-radius: var(--lumo-space-xs);
    box-shadow: var(--lumo-box-shadow-s);
}

.trello__column__task__title {
    font-weight: bold;
}

.trello__column__task__description {
    color: var(--lumo-contrast-70pct);
    padding-top: var(--lumo-space-s);
    font-style: italic;
}

.ignore-elements {
    font-style: italic;
    opacity: 80%;
}

.trello-sortable-ghost {
    opacity:70%;
}

.trello-sortable-chosen {
    background-color: #919191;
}

.trello-sortable-drag {
    background-color:gray;
    opacity:50%;
}

vaadin-upload-file[error] {
	width: 150px;
}

.product-menu-bar {
	font-size: 20px !important;
}

