[part="tabs"] ::slotted(vaadin-tab[selected])::after{
	content: '';
    position: absolute;
    display: var(--_lumo-tab-marker-display, block);
    bottom: 0;
    left: 50%;
    width: 100% !important;
    height: 2px;
    background-color: var(--lumo-contrast-60pct);
    border-radius: var(--lumo-border-radius-s) var(--lumo-border-radius-s) 0 0;
    transform: translateX(-50%) scale(0);
    transform-origin: 50% 100%;
    transition: 0.14s transform cubic-bezier(0.12, 0.32, 0.54, 1);
    will-change: transform;
}

[part="tabs"] ::slotted(vaadin-tab[selected])::before{
	content: '';
    position: absolute;
    display: var(--_lumo-tab-marker-display, block);
    bottom: 0;
    left: 50%;
    width: 100% !important;
    height: 2px;
    border-radius: var(--lumo-border-radius-s) var(--lumo-border-radius-s) 0 0;
    transform-origin: 50% 100%;
    transition: 0.14s transform cubic-bezier(0.12, 0.32, 0.54, 1);
    will-change: transform;
}


vaadin-tabs{
      /* box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct); */
    position: relative;
    min-height: var(--lumo-size-l);
}

:host{
	position: relative;
    min-height: var(--lumo-size-l);
    box-shadow: inset 0 0px 0 0 var(--lumo-contrast-10pct) !important;
}




